<section class="container contact p-5">
        <div class="col text-center mb-5">
            <h4 class="text-danger mb-3">If you want to build awesome things together</h4>
            <h6>DON'T HESITATE TO CONTACT ME</h6>
        </div>
        <div class="row">
            <div class="col-lg-5 d-flex">
                <div class="info">
                    <div class="information">
                        <i class="fa-solid fa-location"></i>
                        <h4>Location:</h4>
                        <p><a href="https://www.google.com/maps/place/G.T.I+(Kyaiklat)/@16.4435706,95.719141,16.09z/data=!4m15!1m8!3m7!1s0x30ea8008978ec27d:0xdbbac77ae589eb7e!2z4YCA4YC74YCt4YCv4YCA4YC64YCc4YCQ4YC6!3b1!8m2!3d16.4422479!4d95.7220845!16s%2Fm%2F03hkth8!3m5!1s0x30ea800985d03ced:0x2539691a65126fc9!8m2!3d16.4395329!4d95.7276911!16s%2Fg%2F11d_txs1dh?authuser=0" target="blank">Kyaiklat, Irrawaddy ,Burma</a></p>
                    </div>

                    <div class="information">
                        <i class="fa-solid fa-envelope"></i>
                        <h4>Email:</h4>
                        <p><a href="mailto:yarzarminkhant2003@gmail.com">yarzarminkhant2003@gmail.com</a></p>
                    </div>

                    <div class="information">
                        <i class="fa-brands fa-facebook"></i>
                        <h4>Facebook:</h4>
                        <p><a href="https://www.facebook.com/rarzarminkhant" target="blank">www.facebook.com/rarzarminkhant</a></p>
                    </div>

                    <div class="information">
                        <i class="fa-brands fa-github"></i>
                        <h4>Github:</h4>
                        <p><a href="https://github.com/RarJar" target="blank">https://github.com/RarJar</a></p>
                    </div>

                    <div class="information">
                        <i class="fa-solid fa-phone"></i>
                        <h4>Phone:</h4>
                        <p>
                            <a href="tel:+959772765542">+959772765542 /</a>
                            <a href="tel:+959695712297">+959695712297</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form class="php-email-form card shadow-sm">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Your Name</label>
                            <input type="text" name="name" class="form-control" id="name" required placeholder="Enter your name *">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">Your Email</label>
                            <input type="email" class="form-control" name="email" id="email" required placeholder="Enter your email *">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Message</label>
                        <textarea class="form-control" name="message" rows="6" required placeholder="Enter your message *"></textarea>
                    </div>
                    <div class="text-end">
                        <button class="btn btn-danger">Send Message</button>
                    </div>
                </form>
            </div>

        </div>
    </section>