    <section class="container-lg px-5" id="home">
      <div class="row min-vh-100 d-flex flex-row align-items-center">
        <!-- left start -->
        <div class="col-md-7 order-md-first px-2 py-5">
          <div class="my-profile" data-aos="fade-right">
            <p class="text-muted fs-3">"Hello I'm Rar Zar Min Khant"</p>
            <h1 class="fs-1 fw-bold my-3 junior-text">
              Full-Stack WEB DEVELOPER
            </h1>
            <p class="text-muted">
              I am trying to become a professional web developer.I am more
              interested in backend field especially Laravel.I usualy craft
              front-end with HTML, CSS, javaScript, jQuery, Bootstrap, Tailwind,
              Vuejs, Reactjs and I build backend using PHP, Laravel RESTful
              API.Now I am learning MERN-stack to improve my web deveploment and
              I am also learning Flutter for mobile app development.
            </p>
            <div>
              <a href="#skill" class="btn btn-danger my-1 me-2"
                >More About Me</a
              >
              <a
                href="./assets/Rarzarminkhant.pdf"
                download="Rarzarminkhant"
                class="btn btn-dark my-1"
                >Download CV</a
              >
            </div>
          </div>
        </div>
        <!-- left end -->
        <!-- right start -->
        <div
          class="col-md-5 text-center d-flex justify-content-center align-items-center p-2"
          data-aos="fade-left"
        >
          <div
            id="carouselExampleFade"
            class="carousel slide carousel-fade shadow-sm"
            style="width: 315px; height: 315px"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="./assets/images/profile1.jpg"
                  class="d-block rounded"
                  style="width: 315px; height: 315px"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="./assets/images/profile3.jpg"
                  class="d-block rounded"
                  style="width: 315px; height: 315px"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="./assets/images/profile2.jpg"
                  class="d-block rounded"
                  style="width: 315px; height: 315px"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleFade"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleFade"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
        <!-- right end -->
      </div>
    </section>