<section class="container-fluid p-5" id="projects">
        <div class="col text-center">
            <h1 class="fw-bold fs-3">Featured Projects</h1>
        </div>

        <div class="text-center my-4">
            <div>
                <button class="btn btn-sm btn-dark btn-danger rounded-pill my-1 BTN" id="All_Btn">All</button>
                <button class="btn btn-sm btn-dark btn-danger rounded-pill my-1 BTN" id="Design_Btn">Web Design</button>
                <button class="btn btn-sm btn-dark btn-danger rounded-pill my-1 BTN" id="Developement_Btn">Web Developement</button>
            </div>
        </div>

        <div class="row">
            <!-- Super Shop Start -->
            <div class="col-lg-4 my-2 design">
                <div class="bg-white shadow-sm rounded p-2">
                    <!-- Slider Projects Images -->
                    <div id="supershop" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./assets/images/projects/supershop/img1.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/supershop/img2.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/supershop/img3.png" class="project-slider-img">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#supershop" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon"></span>
                            </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#supershop" data-bs-slide="next">
                              <span class="carousel-control-next-icon"></span>
                            </button>
                    </div>
                    <h3 class="fs-4 my-2">Supershop Template</h3>
                    <p>HTML & Pure Css</p>

                    <div class="d-flex justify-content-between">
                        <a href="https://rarjar.github.io/Super-Shop-Template/" target="blank" class="text-danger text-decoration-none">Live Demo</a>
                        <a href="https://github.com/RarJar/Super-Shop-Template" target="blank" class="text-danger text-decoration-none">View Source Code</a>
                    </div>
                </div>
            </div>
            <!-- Super Shop End -->

            <!-- Calculator Start -->
            <div class="col-lg-4 my-2 design">
                <div class="bg-white shadow-sm rounded p-2">
                    <img src="./assets/images/projects/calculator/img.png" class="project-slider-img">
                    <h3 class="fs-4 my-2">Sample Calculator</h3>
                    <p>HTML, CSS ,JavaScript</p>

                    <div class="d-flex justify-content-between">
                        <a href="https://rarjar.github.io/Sample-Calculator/" target="blank" class="text-danger text-decoration-none">Live Demo</a>
                        <a href="https://github.com/RarJar/Sample-Calculator" target="blank" class="text-danger text-decoration-none">View Source Code</a>
                    </div>
                </div>
            </div>
            <!-- Calculator End -->

            <!-- Portfolio start -->
            <div class="col-lg-4 my-2 design">
                <div class="bg-white shadow-sm rounded p-2">
                    <!-- Slider Projects Images -->
                    <div id="portfolio" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./assets/images/projects/portfolio/img1.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/portfolio/img2.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/portfolio/img3.png" class="project-slider-img">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#portfolio" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon"></span>
                            </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#portfolio" data-bs-slide="next">
                              <span class="carousel-control-next-icon"></span>
                            </button>
                    </div>

                    <h3 class="fs-4 my-2">My Portfolio</h3>
                    <p>HTML, CSS, JavaScript, jQuery, Bootstrap & Other libraries</p>

                    <div class="d-flex justify-content-between">
                        <a href="#" class="text-danger text-decoration-none">Live Demo</a>
                        <a href="https://github.com/RarJar/My-Portfolio" target="blank" class="text-danger text-decoration-none">View Source Code</a>
                    </div>
                </div>
            </div>
            <!-- Portfolio End -->

            <!-- RemoDesk start -->
            <div class="col-lg-4 my-2 design">
                <div class="bg-white shadow-sm rounded p-2">
                    <!-- Slider Projects Images -->
                    <div id="remoteDesktop" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./assets/images/projects/Remote_Desktop_Template/img1.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/Remote_Desktop_Template/img2.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/Remote_Desktop_Template/img3.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/Remote_Desktop_Template/img4.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/Remote_Desktop_Template/img5.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/Remote_Desktop_Template/img6.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/Remote_Desktop_Template/img7.png" class="project-slider-img">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#remoteDesktop" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#remoteDesktop" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
            
                    <h3 class="fs-4 my-2">Remote Desktop Website Template</h3>
                    <p>This project is built using Tailwind Css.It includes darkmode, mobile menu,animation, and mobile responsive.</p>
            
                    <div class="d-flex justify-content-between">
                        <a href="https://rarjar.github.io/Tailwind-Remote-Desktop-Website-Template/" target="blank" class="text-danger text-decoration-none">Live Demo</a>
                        <a href="https://github.com/RarJar/Tailwind-Remote-Desktop-Website-Template" target="blank"
                            class="text-danger text-decoration-none">View Source Code</a>
                    </div>
                </div>
            </div>
            <!-- RemoDesk End -->

            <!-- Laravel Sample CRUD Start -->
            <div class="col-lg-4 my-2 developement">
                <div class="bg-white shadow-sm rounded p-2">
                    <!-- Slider Projects Images -->
                    <div id="laravelCRUD" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./assets/images/projects/laravel_sample_crud/img1.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/laravel_sample_crud/img2.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/laravel_sample_crud/img3.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/laravel_sample_crud/img4.png" class="project-slider-img">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#laravelCRUD" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon"></span>
                            </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#laravelCRUD" data-bs-slide="next">
                              <span class="carousel-control-next-icon"></span>
                            </button>
                    </div>

                    <h3 class="fs-4 my-2">Bootstrap,Laravel CRUD</h3>
                    <p>This project is a post management CRUD app using bootstrap,laravel and MySQL. In this app, you can create, read, update, and delete the post's data from the MySQL database.</p>

                    <div class="d-flex">
                        <a href="https://github.com/RarJar/Bootstrap-Laravel-Sample-CRUD" target="blank" class="text-danger text-decoration-none">View Source Code</a>
                    </div>
                </div>
            </div>
            <!-- Laravel Sample CRUD End -->

            <!-- Chart js Start -->
            <div class="col-lg-4 my-2 developement">
                <div class="bg-white shadow-sm rounded p-2">
                    <!-- Slider Projects Images -->
                    <div id="chartJs" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./assets/images/projects/chartjs/img1.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/chartjs/img2.png" class="project-slider-img">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#chartJs" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon"></span>
                            </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#chartJs" data-bs-slide="next">
                              <span class="carousel-control-next-icon"></span>
                            </button>
                    </div>

                    <h3 class="fs-4 my-2">Income-Outcome Chart</h3>
                    <p>Laravel, ChartJs</p>

                    <div class="d-flex">
                        <a href="https://github.com/RarJar/Laravel_ChartJs_Sample" target="blank" class="text-danger text-decoration-none">View Source Code</a>
                    </div>
                </div>
            </div>
            <!-- Chart js End -->

            <!-- Ecommerce start -->
            <div class="col-lg-4 my-2 developement">
                <div class="bg-white shadow-sm rounded p-2">
                    <!-- Slider Projects Images -->
                    <div id="ecommerce" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./assets/images/projects/ecommerce_shop/img1.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/ecommerce_shop/img2.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/ecommerce_shop/img3.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/ecommerce_shop/img4.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/ecommerce_shop/img5.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/ecommerce_shop/img6.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/ecommerce_shop/img7.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/ecommerce_shop/img8.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/ecommerce_shop/img9.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/ecommerce_shop/img10.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/ecommerce_shop/img11.png" class="project-slider-img">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#ecommerce" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon"></span>
                            </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#ecommerce" data-bs-slide="next">
                              <span class="carousel-control-next-icon"></span>
                            </button>
                    </div>

                    <h3 class="fs-4 my-2">E-Commerce Shop(Admin + Client)</h3>
                    <p>This is real world POS project.Its frontend is built with HTML, CSS, JavaScript, jQuery, Bootstrap && other frontend-libraries and backend uses laravel9, MySql.</p>

                    <div class="d-flex">
                        <a href="https://github.com/RarJar/E-Commerce-Shop-Laravel-9-" target="blank" class="text-danger text-decoration-none">View Source Code</a>
                    </div>
                </div>
            </div>
            <!-- Ecommerce End -->

            <!-- News Admin start -->
            <div class="col-lg-4 my-2 developement">
                <div class="bg-white shadow-sm rounded p-2">
                    <!-- Slider Projects Images -->
                    <div id="news_media_admin" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./assets/images/projects/news_media/admin1.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/news_media/admin2.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/news_media/admin3.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/news_media/admin4.png" class="project-slider-img">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#news_media_admin" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                          </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#news_media_admin" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                          </button>
                    </div>

                    <h3 class="fs-4 my-2">News Media(Admin Site)</h3>
                    <p>This is real world project.Its built with HTML, CSS, JavaScript, jQuery, Bootstrap, laravel API, MySql other frontend-libraries.</p>
                    <div class="d-flex">
                        <a href="https://github.com/RarJar/News-Media-Admin-Laravel-" target="blank" class="text-danger text-decoration-none">View Source Code</a>
                    </div>
                </div>
            </div>
            <!-- News Admin End -->

            <!-- News Client start -->
            <div class="col-lg-4 my-2 developement">
                <div class="bg-white shadow-sm rounded p-2">
                    <!-- Slider Projects Images -->
                    <div id="news_media_client" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./assets/images/projects/news_media/client1.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/news_media/client2.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/news_media/client3.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/news_media/client4.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/news_media/client5.png" class="project-slider-img">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#news_media_client" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                          </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#news_media_client" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                          </button>
                    </div>

                    <h3 class="fs-4 my-2">News Media(Client Site)</h3>
                    <p>This is real world project.This template built with HTML, CSS, JavaScript, jQuery, Bootstrap.Vuejs is used as frontend framework and Laravel API is used in the backend.</p>
                    <div class="d-flex">
                        <a href="https://github.com/RarJar/News-Media-Client-Vue.js-" target="blank" class="text-danger text-decoration-none">View Source Code</a>
                    </div>
                </div>
            </div>
            <!-- News Client End -->

            <!-- Learn Router start -->
            <div class="col-lg-4 my-2 developement">
                <div class="bg-white shadow-sm rounded p-2">
                    <!-- Slider Projects Images -->
                    <div id="learn_router" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./assets/images/projects/learn_router/l1.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/learn_router/l2.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/learn_router/l3.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/learn_router/l4.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/learn_router/l5.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/learn_router/l6.png" class="project-slider-img">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#learn_router" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                          </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#learn_router" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                          </button>
                    </div>

                    <h3 class="fs-4 my-2">Learn Router</h3>
                    <p>The "Learning Resources Sharing Platform" is currently in production, featuring a design crafted with Tailwind CSS and constructed using the Laravel MVC framework.</p>
                    <div class="d-flex justify-content-between">
                        <a href="https://learnroutermm.com" target="blank" class="text-danger text-decoration-none">View website</a>
                    </div>
                </div>
            </div>
            <!-- Learn Router End -->

            <!-- NIT start -->
            <div class="col-lg-4 my-2 developement">
                <div class="bg-white shadow-sm rounded p-2">
                    <!-- Slider Projects Images -->
                    <div id="NIT_uni" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./assets/images/projects/NIT_uni/img1.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/NIT_uni/img2.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/NIT_uni/img3.png" class="project-slider-img">
                            </div>
                            <div class="carousel-item">
                                <img src="./assets/images/projects/NIT_uni/img4.png" class="project-slider-img">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#NIT_uni" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                          </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#NIT_uni" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                          </button>
                    </div>

                    <h3 class="fs-4 my-2">NIT University</h3>
                    <p>This project developed for "NIT University Myanmar" was collaboratively crafted by our team, employing Laravel Filament and Livewire for its implementation.</p>
                    <div class="d-flex justify-content-between">
                        <a href="https://nitmm.com" target="blank" class="text-danger text-decoration-none">View website</a>
                    </div>
                </div>
            </div>
            <!-- NIT End -->

        </div>
    </section>